.plan-card {
  width: 100%;
  height: auto;
  container-name: plan-card;
  container-type: inline-size;

  &-describtion {
    display: flex;
    border: 1px solid $light-gray;
    border-bottom: none;
    min-height: 225px;

    &-selected {
      border-color: $black;
    }

    &-image {
      width: 50%;
      height: auto;
      background-size: cover;
      background-position: center;
    }

    &-text {
      padding: 16px;
      border-left: 1px solid $light-gray;

      &-name {
        @include subtitle;
        margin-bottom: 16px;
      }

      &-list {
        list-style: disc;
        margin-left: 30px;

        &-item {
          @include body;
          margin-bottom: 4px;
        }
      }
    }

    &:hover {
      border-color: $black;
    }
  }

  &-button {
    @include primary-button;

    &-selected {
      @include secondary-button;
    }
  }
}

@container plan-card (width < 450px) {
  .plan-card {
    &-describtion {
      flex-direction: column;
      min-height: 0;

      &-image {
        width: 100%;
        height: 200px;
      }

      &-text {
        padding: 16px;
        border-left: none;
        border-top: 1px solid $light-gray;
      }
    }
  }
}
