#product-page {
  p,
  h6 {
    background-color: transparent;
  }

  .product-page-product {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-page-product-right {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 40px;
      border-left: $border;

      .product-page-directory {
        @include overline;

        span {
          color: $gray;
        }
      }

      .product-page-product-description {
        @include body;
        color: $black90;
      }

      .product-page-quantity {
        display: flex;
        flex-direction: row;
        align-items: center;

        .product-page-quantity-selector {
          display: flex;
          flex-direction: row;

          button {
            min-width: 44px;
            width: 44px;
            height: 44px;
            padding: 0;
            border: 1px solid black;
            font-weight: 100;
            font-size: 32px;

            &:first-of-type {
              padding-bottom: 4px;
              font-weight: 300;
            }

            &:last-of-type {
              padding-top: 2px;
            }
          }

          input {
            width: 58px;
            height: 44px;
            border: 1px solid black;
            border-left: none;
            border-right: none;
            text-align: center;
            font-size: 16px;
          }
        }

        p {
          @include subtitle;
          margin-right: 16px;
        }
      }

      .product-page-recommendations-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px;

        p {
          &:first-of-type {
            @include subtitle;
            font-size: 20px;
          }

          &:last-of-type {
            @include caption;
            color: $gray;
            font-size: 20px;
          }
        }
      }

      .product-page-recommendations {
        @include flex-center-center;

        .product-page-recommendations-container {
          width: 100%;
          display: flex;
          flex-direction: row;
          gap: 16px;
          padding: 0 8px;
          overflow: scroll;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }

          .product-page-recommendations-card {
            display: flex;
            flex-direction: column;

            img {
              width: 100px;
              height: 100px;
              margin-bottom: 8px;
              border: 1px solid $light-gray;
            }

            p {
              @include caption;

              &:last-of-type {
                margin-top: auto;
                color: $gray;
              }
            }

            &:hover {
              cursor: pointer;

              img {
                border: 1px solid $dark-gray;
              }
            }
          }
        }

        .product-page-chevron {
          width: 48px;
          height: 100%;
        }
      }

      .product-page-options {
        display: flex;
        flex-direction: column;
        gap: 16px;

        p {
          @include subtitle;
        }

        .product-page-option {
          @include body;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 16px;

          input {
            width: 24px;
            height: 24px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .product-page-cart-button {
        @include primary-button;
        margin-top: auto;
      }
    }
  }

  .product-page-also {
    width: 100%;

    h1 {
      width: 100%;
      text-align: center;
      padding: 80px 10px;
      border-bottom: $border;
      border-top: $border;
    }

    .product-page-also-container {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;

      .product-page-also-card {
        width: 100%;
        height: 25vw;
        background-size: 100%;
        background-position: center;
        border-left: $border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 24px;
        transition: background-size 0.5s ease-in-out;

        p {
          color: $gray;
        }

        &:hover {
          background-size: 110%;
        }

        &:first-of-type {
          border-left: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #product-page {
    .product-page-product {
      height: auto;
      grid-template-columns: 100%;

      img {
        height: 100vw;
        border-bottom: $border;
      }

      .product-page-product-right {
        border-left: none;
      }
    }

    .product-page-also {
      .product-page-also-container {
        grid-template-columns: 50% 50%;

        .product-page-also-card {
          border-bottom: $border;
          height: 50vw;

          &:nth-child(2n + 1) {
            border-left: none;
          }

          &:nth-last-child(1) {
            border-bottom: none;
          }

          &:nth-last-child(2) {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  #product-page {
    .product-page-product {
      height: auto;
      grid-template-columns: 100%;

      img {
        height: 100vw;
        border-bottom: $border;
      }

      .product-page-product-right {
        border-left: none;
        padding: 40px 16px;

        .product-page-quantity {
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;

          .product-page-quantity-selector {
            input {
              width: 100%;
            }
          }
        }

        .product-page-recommendations-title {
          flex-direction: column-reverse;
          align-items: flex-start;
          gap: 16px;

          p {
            &:last-of-type {
              font-size: 16px;
            }
          }
        }
      }
    }

    .product-page-also {
      .product-page-also-container {
        grid-template-columns: 100%;

        .product-page-also-card {
          border-left: none;
          border-bottom: $border;
          height: 100vw;

          &:nth-last-child(2) {
            border-bottom: $border;
          }
        }
      }
    }

    .product-page-also {
      h1 {
        padding: 40px 16px;
        font-size: 32px;
      }
    }
  }
}
