#subscribtion-page {
  .subscribtion-page-first-section {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 50vw;
    border-bottom: $border;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-text-wrapper {
      padding: 80px;
      display: flex;
      flex-direction: column;
      border-left: $border;

      h2 {
        margin-bottom: 24px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h6 {
          margin-bottom: 8px;
        }

        p {
          $offset: 24px;
          @include body;
          margin-left: $offset;

          &::before {
            content: "•";
            display: inline-block;
            margin-left: -$offset;
            width: $offset;
            text-align: center;
          }
        }
      }
    }

    &-button {
      @include secondary-button;
      margin-top: auto;
      width: 175px;
    }

    &::after {
      position: absolute;
      width: calc(50% - 1px);
      height: 50vw;
      content: "";
      background-color: $image-filter;
    }
  }

  .subscribtion-page-how-work {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: $border;

    &-left-side {
      h2 {
        padding: 80px;
        height: min-content;
        position: sticky;
        top: $desktop-nav-height + 1px;
      }
    }

    &-right-side {
      &-element {
        padding: 80px;
        border-top: $border;
        border-left: $border;

        h3 {
          margin-bottom: 16px;
        }

        p {
          @include body;
        }

        &:first-child {
          border-top: none;
        }
      }
    }
  }

  .subscribtion-page-plan-select {
    display: grid;
    grid-template-columns: 50% 50%;

    &-image {
      border-left: $border;
      img {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        position: sticky;
        top: $desktop-nav-height + 1px;
      }
    }

    
  }
}
