#subscribtion-page {
  .subscribtion-page-first-section {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 50vw;
    border-bottom: $border;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-text-wrapper {
      padding: 80px;
      display: flex;
      flex-direction: column;
      border-left: $border;

      h2 {
        margin-bottom: 24px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 80px;

        h6 {
          margin-bottom: 8px;
        }

        p {
          $offset: 24px;
          @include body;
          margin-left: $offset;

          &::before {
            content: "•";
            display: inline-block;
            margin-left: -$offset;
            width: $offset;
            text-align: center;
          }
        }
      }
    }

    &-button {
      @include secondary-button;
      margin-top: auto;
      width: 175px;
    }

    &::after {
      position: absolute;
      width: calc(50% - 1px);
      height: 100%;
      content: "";
      background-color: $image-filter;
    }
  }

  .subscribtion-page-how-work {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: $border;

    &-left-side {
      h2 {
        padding: 80px;
        height: min-content;
        position: sticky;
        top: $desktop-nav-height + 1px;
      }
    }

    &-right-side {
      &-element {
        padding: 80px;
        border-top: $border;
        border-left: $border;

        h3 {
          margin-bottom: 16px;
        }

        p {
          @include body;
        }

        &:first-child {
          border-top: none;
        }
      }
    }
  }

  .subscribtion-page-plan-select {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: $border;

    &-image {
      border-left: $border;
      img {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        position: sticky;
        top: $desktop-nav-height + 1px;
        border-bottom: $border;
        margin-bottom: -1px;
      }
    }
  }

  .subscribtion-page-faq {
    @include flex-center-center;
    padding: 80px;
    background-color: $extra-light;

    &-wrapper {
      max-width: 864px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #subscribtion-page {
    .subscribtion-page-first-section {
      grid-template-columns: 100%;
      height: fit-content;

      img {
        height: 65vw;
      }

      &-text-wrapper {
        border-left: none;
      }

      &-button {
        width: 100%;
      }

      &::after {
        width: 100%;
        height: 65vw;
      }
    }

    .subscribtion-page-how-work {
      grid-template-columns: 100%;

      &-left-side {
        border-bottom: $border;
      }

      &-right-side {
        &-element {
          border-left: none;
        }
      }
    }

    .subscribtion-page-plan-select {
      display: flex;
      flex-direction: column-reverse;

      &-image {
        border-left: none;
        height: 65vw;

        img {
          height: 100%;
        }
      }
    }

    .subscribtion-page-faq {
      padding: 80px 40px;
    }
  }
}

@media only screen and (max-width: 375px) {
  #subscribtion-page {
    .subscribtion-page-first-section {
      grid-template-columns: 100%;
      height: fit-content;

      img {
        height: 107vw;
      }

      &-text-wrapper {
        padding: 40px 16px;
        border-left: none;

        ul {
          margin-bottom: 48px;
        }
      }

      &-button {
        width: 100%;
      }

      &::after {
        width: 100%;
        height: 107vw;
      }
    }

    .subscribtion-page-how-work {
      grid-template-columns: 100%;

      &-left-side {
        h2 {
          padding: 40px 16px;
        }
      }

      &-right-side {
        &-element {
          padding: 40px 16px;
        }
      }
    }

    .subscribtion-page-faq {
      padding: 40px 0;
    }
  }
}
