@mixin subtitle {
  font-size: 18px;
  font-weight: 500;
}

@mixin body {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@mixin links {
  font-size: 16px;
  font-weight: 500;
}

@mixin overline {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin caption {
  font-size: 14px;
  font-weight: 400;
}

@mixin caption-small {
  font-size: 12px;
  font-weight: 500;
}

@mixin mobile-subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

@mixin mobile-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@mixin mobile-links {
  font-size: 14px;
  font-weight: 500;
}

@mixin mobile-overline {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin mobile-caption {
  font-size: 14px;
  font-weight: 400;
}

@mixin mobile-caption-small {
  font-size: 12px;
  font-weight: 500;
}

@mixin primary-button {
  background-color: $black;
  color: $white;

  &:hover {
    background-color: $dark-gray;
  }

  &:active {
    background-color: $black;
  }

  &:disabled {
    background-color: $light-gray;
    color: $gray;
  }
}

@mixin secondary-button {
  background-color: $white;
  color: $black;
  border: $border;

  &:hover {
    background-color: $black;
    color: $white;
  }

  &:active {
    background-color: $white;
    color: $black;
  }

  &:disabled {
    background-color: $white;
    color: $gray;
    border: 1px solid $light-gray;
  }
}

@mixin tertiary-button {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;

  &:hover {
    background-color: $white;
    color: $dark-gray;
  }

  &:active {
    background-color: $white;
    color: $black;
  }

  &:disabled {
    background-color: transparent;
    color: $gray;
    border: 1px solid $light-gray;
  }
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
