$white: #fff;
$extra-light: #f5f5f7;
$light-gray: #d2d2d7;
$gray: #808080;
$dark-gray: #424245;
$blur: rgba($light-gray, 0.35);
$black: #121212;
$black90: rgba($black, 0.9);
$success: #32936f;
$error: #f55f56;
$gill-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$zapfino: 'Zapfino', cursive;
$border: 1px solid $black;