#home-page {
  section {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: $border;

    &:last-child {
      border-bottom: none;
    }
  }

  .home-page-first-section {
    &-left-side {
      grid-column: 1;
      width: 100%;
      height: fit-content;
      position: sticky;
      top: $desktop-nav-height + 1px;
      padding: 80px;

      &-top {
        min-height: calc((100vw / 4) - 80px);
        border-bottom: $border;
        overflow-wrap: break-word;
        word-wrap: break-word;

        h1 {
          sup {
            font-weight: 200;
            font-size: 40px;
          }
        }

        p {
          margin-top: 16px;
          color: $black90;
          font-size: 18px;
          font-weight: 100;
        }
      }

      &-bottom {
        padding-top: 24px;
        display: flex;
        flex-direction: row;

        div {
          width: 50%;

          img {
            width: 100%;
            height: 100%;
          }

          &:first-child {
            padding-right: 24px;
            border-right: $border;
          }

          &:last-child {
            display: flex;
            align-items: flex-end;
            padding-left: 24px;

            p {
              @include caption;
              color: $black90;
            }
          }
        }
      }
    }

    &-right-side {
      grid-column: 2;
    }
  }

  .home-page-about-section {
    &-left-side {
      grid-column: 1;
      height: min-content;
      position: sticky;
      top: $desktop-nav-height + 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 80px;
    }

    &-right-side {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 80px;
      border-left: $border;

      &-overline {
        @include overline;
        color: $black90;
      }

      &-body {
        @include body;
        color: $black90;
        padding: 16px 0 64px;
      }

      h3 {
        padding-top: 24px;
      }

      button {
        @include secondary-button;
        width: 175px;
      }
    }
  }

  .home-page-why-us {
    &-left-side {
      grid-column: 1;
      height: min-content;
      position: sticky;
      top: $desktop-nav-height + 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 80px;
    }

    &-right-side {
      grid-column: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-section {
        border-left: $border;
        border-bottom: $border;
        padding: 80px;
        overflow-wrap: break-word;
        word-wrap: break-word;

        p {
          @include body;
          color: $black90;
          margin-top: 16px;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .home-page-talk {
    &-left-side {
      display: flex;
      flex-direction: column;

      &-top {
        padding: 80px;
        border-bottom: $border;

        p {
          @include subtitle;
          padding-top: 24px;
        }

        div {
          padding-top: 16px;
          display: flex;
          flex-direction: row;
          gap: 16px;

          button {
            @include primary-button;
          }
        }
      }

      &-bottom {
        height: 100%;
        display: flex;
        flex-direction: row;

        &-section {
          display: flex;
          flex-direction: column;
          width: 50%;
          height: 100%;

          h3 {
            text-align: center;
            padding: 16px 0;
            border-bottom: $border;
          }

          &-sub {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            text-align: center;
            padding: 24px;

            div {
              display: flex;
              justify-content: center;
              gap: 5px;

              p {
                @include overline;
                font-weight: 100;
              }

              a {
                font-size: 18px;
                font-weight: 500;
              }
            }
          }

          &:last-child {
            border-left: $border;
          }
        }
      }
    }

    &-right-side {
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 100%;
        border-left: $border;
      }

      div {
        display: grid;
        grid-template-columns: 50% 50%;

        h3 {
          text-align: center;
          padding: 16px 0;
          border-left: $border;
        }

        .home-page-talk-right-side-socials {
          align-items: center;
          padding: 16px 60px;
          border-left: $border;
        }
      }
    }
  }

  .home-page-service {
    grid-template-columns: 100%;

    .home-page-service-title {
      text-align: center;
      padding: 80px;
      border-bottom: $border;
    }

    .home-page-service-overline {
      @include overline;
      margin-bottom: 24px;
    }

    .home-page-service-subtitle {
      margin-bottom: 16px;
    }

    p {
      @include subtitle;
      color: $black90;
    }

    .button {
      @include secondary-button;
      width: fit-content;
      margin: 64px auto 0;
    }

    &-subscription {
      display: grid;
      grid-template-columns: 50% 50%;
      border-bottom: $border;

      img {
        height: 50vw;
      }

      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 50vw;
        background-color: $image-filter;
      }

      div {
        border-left: $border;
      }
    }

    &-section {
      width: 100%;
      height: 100%;
      @include flex-center-center;
      flex-direction: column;
      padding: 80px;
      text-align: center;
    }

    .home-page-service-events {
      height: 50vw;
      background-image: url(/images/Secondary_Images/weding_image.webp);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      border-bottom: $border;

      div {
        background-color: $image-filter;
      }

      * {
        color: $white;
        background-color: transparent;
      }

      .button {
        @include tertiary-button;
      }
    }

    .home-page-service-logo {
      margin: 0 auto 16px;
    }

    .home-page-service-chevron {
      min-width: 0;
      padding: 0;
      width: 48px;
      height: 48px;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .home-page-service-review {
      @include flex-center-center;
      width: 100%;
      margin-bottom: 32px;

      .home-page-service-review-element {
        @include flex-center-center;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        padding: 0;

        h3 {
          font-style: italic;
          color: $black90;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #home-page {
    section {
      grid-template-columns: 100%;
    }

    .home-page-first-section {
      &-left-side {
        grid-column: 1;
        position: static;
        border-bottom: $border;
      }

      &-right-side {
        grid-column: 1;
      }
    }

    .home-page-about-section {
      &-left-side {
        grid-column: 1;
        height: min-content;
        position: static;
        border-bottom: $border;
      }

      &-right-side {
        grid-column: 1;
        border-left: none;
      }
    }

    .home-page-why-us {
      &-left-side {
        grid-column: 1;
        height: min-content;
        position: static;
        border-bottom: $border;
      }

      &-right-side {
        grid-column: 1;
        border-left: none;
        border-bottom: $border;

        &-right-side-section {
          border-left: none;
        }
      }
    }

    .home-page-talk {
      &-left-side {
        grid-column: 1;
        grid-row: 2;
        border-bottom: none;
      }

      &-right-side {
        grid-column: 1;
        grid-row: 1;
        border-bottom: $border;

        img {
          border-left: none;
          height: 65vw;
          width: 100%;
          object-fit: cover;
        }

        div {
          h3 {
            border-left: none;
          }
        }
      }
    }

    .home-page-service {
      &-subscription {
        grid-template-columns: 100%;

        img {
          grid-column: 1;
          width: 100%;
          height: 65vw;
          object-fit: cover;
          border-bottom: $border;
        }

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 65vw;
          background-color: $image-filter;
        }

        div {
          grid-column: 1;
          width: 100%;
          border-left: none;
        }
      }

      .home-page-service-events {
        height: 107vw;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  #home-page {
    .home-page-first-section {
      &-left-side {
        padding: 40px 16px;

        &-top {
          padding-bottom: 24px;
        }

        &-bottom {
          padding-top: 16px;

          div {
            &:first-child {
              padding-right: 16px;
            }

            &:last-child {
              padding-left: 16px;
            }
          }
        }
      }
    }

    .home-page-about-section {
      &-left-side,
      &-right-side {
        padding: 40px 16px;
      }
    }

    .home-page-why-us {
      &-left-side {
        padding: 40px 16px;
      }

      &-right-side {
        &-section {
          padding: 40px 16px;

          p {
            @include mobile-body;
          }
        }
      }
    }

    .home-page-talk {
      &-left-side {
        &-top {
          padding: 40px 16px;

          div {
            flex-direction: column;
          }
        }

        &-bottom {
          display: flex;
          flex-direction: column;

          &-section {
            width: 100%;

            &:first-child {
              border-bottom: $border;
            }

            &-sub {
              padding: 40px 16px;
            }

            &:last-child {
              border-left: none;
            }
          }
        }
      }

      .home-page-talk-right-side {
        img {
          height: 107vw;
          width: 100%;
        }

        div {
          display: flex;
          flex-direction: column;

          h3 {
            border-bottom: $border;
            border-top: $border;
          }

          &-socials {
            border: none;
            padding: 16px;
          }
        }
      }
    }

    .home-page-service {
      .button {
        width: 100%;
      }

      .home-page-service-title {
        padding: 40px 16px;
      }

      &-section {
        padding: 40px 16px;
      }

      &-subscription {
        width: 100%;

        img {
          height: 107vw;
        }

        &::after {
          height: 107vw;
        }
      }

      .home-page-service-events {
        height: max-content;
        min-height: 107vw;
      }

      &-review {
        margin: 0 auto 8px;
      }
    }
  }
}
