#home-page {
    .home-page-first-section {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        border-bottom: $border;
        
        .home-page-first-section-left-side {
            grid-column: 1;
            width: 100%;
            height: fit-content;
            position: sticky;
            top: $desktop-nav-height + 1px;
            padding: 80px;

            .home-page-first-section-left-side-top {
                min-height: calc((100vw / 4) - 80px);
                border-bottom: $border;
                overflow-wrap: break-word;
                word-wrap: break-word;

                h1 { 
                    sup {
                        font-weight: 200;
                        font-size: 40px;
                    }
                }

                p {
                    margin-top: 16px;
                    color: $black90;
                    font-size: 18px;
                }
            }

            .home-page-first-section-left-side-bottom {
                padding-top: 24px;
                display: flex;
                flex-direction: row;

                div {
                    width: 50%;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &:first-child {
                        padding-right: 24px;
                        border-right: $border;
                    }

                    &:last-child {
                        display: flex;
                        align-items: flex-end;
                        padding-left: 24px;

                        p {
                            @include caption;
                            color: $black90;
                        }
                    }
                }
            }
        }

        .home-page-first-section-right-side {
            grid-column: 2;
        }
    }

    .home-page-about-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: $border;

        .home-page-about-section-left-side {
            grid-column: 1;
            height: min-content;
            position: sticky;
            top: $desktop-nav-height + 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 80px;
        }

        .home-page-about-section-right-side {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 80px;
            border-left: $border;

            .home-page-about-section-right-side-overline {
                @include overline;
                color: $black90;
            }

            .home-page-about-section-right-side-body {
                @include body;
                color: $black90;
                padding: 16px 0 64px;
            }

            h3 {
                padding-top: 24px;
            }

            button {
                @include secondary-button;
                width: 175px;
            }
        }
    }

    .home-page-why-us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // border-bottom: $border;

        .home-page-why-us-left-side {
            grid-column: 1;
            height: min-content;
            position: sticky;
            top: $desktop-nav-height + 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 80px;
        }

        .home-page-why-us-right-side {
            grid-column: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .home-page-why-us-right-side-section {
                border-left: $border;
                border-bottom: $border;
                padding: 80px;

                p {
                    @include body;
                    color: $black90;
                    margin-top: 16px;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    
    }
}

@media only screen and (max-width: 768px) {
    #home-page {
        .home-page-first-section {
            grid-template-columns: 100%;

            .home-page-first-section-left-side {
                grid-column: 1;
                position: static;
                border-bottom: $border;
            }

            .home-page-first-section-right-side {
                grid-column: 1;
            }
        }

        .home-page-about-section {
            grid-template-columns: 1fr;

            .home-page-about-section-left-side {
                grid-column: 1;
                height: min-content;
                position: static;
                border-bottom: $border;
            }

            .home-page-about-section-right-side {
                grid-column: 1;
                border-left: none;
            }
        }

        .home-page-why-us {
            grid-template-columns: 1fr;

            .home-page-why-us-left-side {
                grid-column: 1;
                height: min-content;
                position: static;
                border-bottom: $border;
            }

            .home-page-why-us-right-side {
                grid-column: 1;
                border-left: none;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    #home-page {
        .home-page-first-section {
            .home-page-first-section-left-side {
                padding: 40px 16px;


                    
                .home-page-first-section-left-side-top {
                    padding-bottom: 24px;
                }

                .home-page-first-section-left-side-bottom {
                    padding-top: 16px;

                    div {
                        &:first-child {
                            padding-right: 16px;
                        }

                        &:last-child {
                            padding-left: 16px;
                        }
                    
                    }
                }
            }
        }

        .home-page-about-section {

            .home-page-about-section-left-side {
                padding: 40px 16px;
            }

            .home-page-about-section-right-side {
                padding: 40px 16px;
            }
        }

        .home-page-why-us {
            .home-page-why-us-left-side {
                padding: 40px 16px;
            }

            .home-page-why-us-right-side {
                .home-page-why-us-right-side-section {
                    padding: 40px 16px;
                }
            }
        }
    }
}